.playerwrapper{
    width: 100%;
}

.allArt{
    /* display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 3fr 3fr ;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: -40px;
    /* width: auto; */
   
}

 .imgARt{
    width: 80%;
    transition: 1s;
    /* display: block; */
}

.imgARt:hover{
    /* transform: scale(1.5) translate(20%, 0); */
    transform: scale(1.5)
} 

.wordDescription{
    width: 85%;
    word-wrap:break-word
}