@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.image {
  margin-left: auto;
  margin-right: auto;
  animation: spin 60s linear 0s infinite;
  margin: 30px;

}

.input{
  text-align: center;
  margin: auto;
  width: 50%;
}

.predict{
text-align: center;
}

.sphere{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form{
  margin: 20px;
}